@font-face {
  font-family: "Sen";
  font-display: swap;
  src: url("../../fonts/senregular.woff2") format("woff2");
  src: url("../../fonts/senregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Sen";
  font-display: swap;
  src: url("../../fonts/senbold.woff2") format("woff2");
  src: url("../../fonts/senbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
