.slide {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}

.slide__link {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);

  &::after {
    --scale: 0;

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    height: 3px;
    background: linear-gradient(135deg, $main-orange, $main-orange-hover);
    transform: scaleX(var(--scale));
    transform-origin: var(--x) 50%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  }

  &:hover {
    opacity: 1;
  }

  &:hover::after {
    --scale: 1;
  }
}
